# Spring Boot configuration
spring:
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yml
  # Database
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/filestorage_db
    username: postgres
    password: postgres
  # JPA properties
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  servlet:
    multipart:
      max-request-size: 500MB
      max-file-size: 500MB
      file-size-threshold: 2MB
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/bies-realm

server:
  port: 8082
  error:
    whitelabel:
      enabled: true
    include-message: always
    include-binding-errors: always
    include-exception: false

s3:
  url: http://127.0.0.1:9000
  login: admin_user
  password: admin_password
  idea-files-bucket: business-idea-files

idea-service:
  base-url: http://localhost:8080/api/v1/ideas
  validate-idea-owner-endpoint: /%s/is-author