# Application configuration
application:
  user-default-roles:
    - USER
# Server configuration
server:
  port: 8081
  error:
    whitelabel:
      enabled: true
    include-message: always
    include-binding-errors: always
    include-exception: false
# Spring Boot configuration
spring:
  liquibase:
    enabled: true
  # Database
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/user_db
    username: postgres
    password: postgres
  # JPA properties
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  # Security properties
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/bies-realm

# Keycloak configuration
keycloak:
  realm: bies-realm
  client-id: bies-client
  client-secret: rGAAc5F6btx7UaYOKnx0qJgCgIFNId2v
  server-url: http://localhost:8180